<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.anas.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.iosUnitTestBundleBase</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.cocoaTouchApplicationUnitTestBundleTarget</string>
            <key>TargetIdentifierToBeTested</key>
            <string>com.apple.dt.cocoaTouchApplicationTarget</string>
        </dict>
    </array>
    <key>Options</key>
    <array>
    </array>
    
    <key>Nodes</key>
    <array>
        <string>___PACKAGENAMEASIDENTIFIER___UnitTests.swift</string>
    </array>
    
    <key>Definitions</key>
    <dict>
        <key>___PACKAGENAMEASIDENTIFIER___UnitTests.swift</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___UnitTests.swift</string>
        </dict>
    </dict>
</dict>
</plist>
